.power-css-pack .css-box-navy-start .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid navy !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: start;
  color: navy;
}
.power-css-pack .css-box-navy-end .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid navy !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: end;
  color: navy;
}
.power-css-pack .css-box-navy-center .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid navy !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  color: navy;
}
.power-css-pack .css-box-navy-left .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid navy !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: left;
  color: navy;
}
.power-css-pack .css-box-navy-right .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid navy !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: right;
  color: navy;
}
.power-css-pack .css-box-navy-justify .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid navy !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: justify;
  color: navy;
}
.power-css-pack .css-box-blue-start .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid blue !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: start;
  color: blue;
}
.power-css-pack .css-box-blue-end .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid blue !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: end;
  color: blue;
}
.power-css-pack .css-box-blue-center .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid blue !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  color: blue;
}
.power-css-pack .css-box-blue-left .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid blue !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: left;
  color: blue;
}
.power-css-pack .css-box-blue-right .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid blue !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: right;
  color: blue;
}
.power-css-pack .css-box-blue-justify .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid blue !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: justify;
  color: blue;
}
.power-css-pack .css-box-aqua-start .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid aqua !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: start;
  color: aqua;
}
.power-css-pack .css-box-aqua-end .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid aqua !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: end;
  color: aqua;
}
.power-css-pack .css-box-aqua-center .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid aqua !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  color: aqua;
}
.power-css-pack .css-box-aqua-left .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid aqua !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: left;
  color: aqua;
}
.power-css-pack .css-box-aqua-right .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid aqua !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: right;
  color: aqua;
}
.power-css-pack .css-box-aqua-justify .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid aqua !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: justify;
  color: aqua;
}
.power-css-pack .css-box-teal-start .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid teal !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: start;
  color: teal;
}
.power-css-pack .css-box-teal-end .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid teal !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: end;
  color: teal;
}
.power-css-pack .css-box-teal-center .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid teal !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  color: teal;
}
.power-css-pack .css-box-teal-left .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid teal !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: left;
  color: teal;
}
.power-css-pack .css-box-teal-right .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid teal !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: right;
  color: teal;
}
.power-css-pack .css-box-teal-justify .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid teal !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: justify;
  color: teal;
}
.power-css-pack .css-box-olive-start .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid olive !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: start;
  color: olive;
}
.power-css-pack .css-box-olive-end .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid olive !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: end;
  color: olive;
}
.power-css-pack .css-box-olive-center .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid olive !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  color: olive;
}
.power-css-pack .css-box-olive-left .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid olive !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: left;
  color: olive;
}
.power-css-pack .css-box-olive-right .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid olive !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: right;
  color: olive;
}
.power-css-pack .css-box-olive-justify .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid olive !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: justify;
  color: olive;
}
.power-css-pack .css-box-green-start .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid green !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: start;
  color: green;
}
.power-css-pack .css-box-green-end .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid green !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: end;
  color: green;
}
.power-css-pack .css-box-green-center .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid green !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  color: green;
}
.power-css-pack .css-box-green-left .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid green !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: left;
  color: green;
}
.power-css-pack .css-box-green-right .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid green !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: right;
  color: green;
}
.power-css-pack .css-box-green-justify .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid green !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: justify;
  color: green;
}
.power-css-pack .css-box-lime-start .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid lime !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: start;
  color: lime;
}
.power-css-pack .css-box-lime-end .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid lime !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: end;
  color: lime;
}
.power-css-pack .css-box-lime-center .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid lime !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  color: lime;
}
.power-css-pack .css-box-lime-left .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid lime !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: left;
  color: lime;
}
.power-css-pack .css-box-lime-right .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid lime !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: right;
  color: lime;
}
.power-css-pack .css-box-lime-justify .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid lime !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: justify;
  color: lime;
}
.power-css-pack .css-box-yellow-start .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid yellow !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: start;
  color: yellow;
}
.power-css-pack .css-box-yellow-end .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid yellow !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: end;
  color: yellow;
}
.power-css-pack .css-box-yellow-center .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid yellow !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  color: yellow;
}
.power-css-pack .css-box-yellow-left .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid yellow !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: left;
  color: yellow;
}
.power-css-pack .css-box-yellow-right .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid yellow !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: right;
  color: yellow;
}
.power-css-pack .css-box-yellow-justify .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid yellow !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: justify;
  color: yellow;
}
.power-css-pack .css-box-orange-start .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid orange !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: start;
  color: orange;
}
.power-css-pack .css-box-orange-end .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid orange !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: end;
  color: orange;
}
.power-css-pack .css-box-orange-center .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid orange !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  color: orange;
}
.power-css-pack .css-box-orange-left .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid orange !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: left;
  color: orange;
}
.power-css-pack .css-box-orange-right .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid orange !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: right;
  color: orange;
}
.power-css-pack .css-box-orange-justify .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid orange !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: justify;
  color: orange;
}
.power-css-pack .css-box-red-start .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid red !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: start;
  color: red;
}
.power-css-pack .css-box-red-end .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid red !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: end;
  color: red;
}
.power-css-pack .css-box-red-center .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid red !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  color: red;
}
.power-css-pack .css-box-red-left .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid red !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: left;
  color: red;
}
.power-css-pack .css-box-red-right .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid red !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: right;
  color: red;
}
.power-css-pack .css-box-red-justify .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid red !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: justify;
  color: red;
}
.power-css-pack .css-box-fuchsia-start .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid fuchsia !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: start;
  color: fuchsia;
}
.power-css-pack .css-box-fuchsia-end .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid fuchsia !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: end;
  color: fuchsia;
}
.power-css-pack .css-box-fuchsia-center .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid fuchsia !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  color: fuchsia;
}
.power-css-pack .css-box-fuchsia-left .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid fuchsia !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: left;
  color: fuchsia;
}
.power-css-pack .css-box-fuchsia-right .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid fuchsia !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: right;
  color: fuchsia;
}
.power-css-pack .css-box-fuchsia-justify .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid fuchsia !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: justify;
  color: fuchsia;
}
.power-css-pack .css-box-purple-start .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid purple !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: start;
  color: purple;
}
.power-css-pack .css-box-purple-end .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid purple !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: end;
  color: purple;
}
.power-css-pack .css-box-purple-center .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid purple !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  color: purple;
}
.power-css-pack .css-box-purple-left .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid purple !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: left;
  color: purple;
}
.power-css-pack .css-box-purple-right .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid purple !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: right;
  color: purple;
}
.power-css-pack .css-box-purple-justify .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid purple !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: justify;
  color: purple;
}
.power-css-pack .css-box-maroon-start .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid maroon !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: start;
  color: maroon;
}
.power-css-pack .css-box-maroon-end .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid maroon !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: end;
  color: maroon;
}
.power-css-pack .css-box-maroon-center .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid maroon !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  color: maroon;
}
.power-css-pack .css-box-maroon-left .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid maroon !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: left;
  color: maroon;
}
.power-css-pack .css-box-maroon-right .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid maroon !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: right;
  color: maroon;
}
.power-css-pack .css-box-maroon-justify .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid maroon !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: justify;
  color: maroon;
}
.power-css-pack .css-box-silver-start .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid silver !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: start;
  color: silver;
}
.power-css-pack .css-box-silver-end .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid silver !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: end;
  color: silver;
}
.power-css-pack .css-box-silver-center .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid silver !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  color: silver;
}
.power-css-pack .css-box-silver-left .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid silver !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: left;
  color: silver;
}
.power-css-pack .css-box-silver-right .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid silver !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: right;
  color: silver;
}
.power-css-pack .css-box-silver-justify .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid silver !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: justify;
  color: silver;
}
.power-css-pack .css-box-gray-start .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid gray !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: start;
  color: gray;
}
.power-css-pack .css-box-gray-end .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid gray !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: end;
  color: gray;
}
.power-css-pack .css-box-gray-center .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid gray !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  color: gray;
}
.power-css-pack .css-box-gray-left .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid gray !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: left;
  color: gray;
}
.power-css-pack .css-box-gray-right .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid gray !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: right;
  color: gray;
}
.power-css-pack .css-box-gray-justify .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid gray !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: justify;
  color: gray;
}
.power-css-pack .css-box-black-start .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid black !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: start;
  color: black;
}
.power-css-pack .css-box-black-end .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid black !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: end;
  color: black;
}
.power-css-pack .css-box-black-center .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid black !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  color: black;
}
.power-css-pack .css-box-black-left .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid black !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: left;
  color: black;
}
.power-css-pack .css-box-black-right .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid black !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: right;
  color: black;
}
.power-css-pack .css-box-black-justify .rm-block-text {
  padding: 10px;
  font-size: 13px !important;
  border: 1px solid black !important;
  border-radius: 2px;
  max-width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: justify;
  color: black;
}
