[data-tag^='.css-font-'] {
  display: none !important;
}
[data-tag^='.css-font-'] + .rm-highlight,
[data-tag^='.css-font-'] + span > .rm-page-ref--link {
  color: white !important;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
}
/* ---------------------------------*/
.power-css-pack [data-page-links*='.css-font-navy'] span {
  color: navy !important;
}
/* ---------------------------------*/
.power-css-pack [data-page-links*='.css-font-blue'] span {
  color: blue !important;
}
/* ---------------------------------*/
.power-css-pack [data-page-links*='.css-font-aqua'] span {
  color: aqua !important;
}
/* ---------------------------------*/
.power-css-pack [data-page-links*='.css-font-teal'] span {
  color: teal !important;
}
/* ---------------------------------*/
.power-css-pack [data-page-links*='.css-font-olive'] span {
  color: olive !important;
}
/* ---------------------------------*/
.power-css-pack [data-page-links*='.css-font-green'] span {
  color: green !important;
}
/* ---------------------------------*/
.power-css-pack [data-page-links*='.css-font-lime'] span {
  color: lime !important;
}
/* ---------------------------------*/
.power-css-pack [data-page-links*='.css-font-yellow'] span {
  color: yellow !important;
}
/* ---------------------------------*/
.power-css-pack [data-page-links*='.css-font-orange'] span {
  color: orange !important;
}
/* ---------------------------------*/
.power-css-pack [data-page-links*='.css-font-red'] span {
  color: red !important;
}
/* ---------------------------------*/
.power-css-pack [data-page-links*='.css-font-fuchsia'] span {
  color: fuchsia !important;
}
/* ---------------------------------*/
.power-css-pack [data-page-links*='.css-font-purple'] span {
  color: purple !important;
}
/* ---------------------------------*/
.power-css-pack [data-page-links*='.css-font-maroon'] span {
  color: maroon !important;
}
/* ---------------------------------*/
.power-css-pack [data-page-links*='.css-font-silver'] span {
  color: silver !important;
}
/* ---------------------------------*/
.power-css-pack [data-page-links*='.css-font-gray'] span {
  color: gray !important;
}
/* ---------------------------------*/
.power-css-pack [data-page-links*='.css-font-black'] span {
  color: black !important;
}
