.power-css-pack [data-page-links*='.css-font-12px'] span {
  font-size: 12px !important;
}
.power-css-pack [data-page-links*='.css-font-13px'] span {
  font-size: 13px !important;
}
.power-css-pack [data-page-links*='.css-font-14px'] span {
  font-size: 14px !important;
}
.power-css-pack [data-page-links*='.css-font-15px'] span {
  font-size: 15px !important;
}
.power-css-pack [data-page-links*='.css-font-16px'] span {
  font-size: 16px !important;
}
.power-css-pack [data-page-links*='.css-font-17px'] span {
  font-size: 17px !important;
}
.power-css-pack [data-page-links*='.css-font-18px'] span {
  font-size: 18px !important;
}
.power-css-pack [data-page-links*='.css-font-19px'] span {
  font-size: 19px !important;
}
.power-css-pack [data-page-links*='.css-font-20px'] span {
  font-size: 20px !important;
}
.power-css-pack [data-page-links*='.css-font-21px'] span {
  font-size: 21px !important;
}
.power-css-pack [data-page-links*='.css-font-22px'] span {
  font-size: 22px !important;
}
.power-css-pack [data-page-links*='.css-font-23px'] span {
  font-size: 23px !important;
}
.power-css-pack [data-page-links*='.css-font-24px'] span {
  font-size: 24px !important;
}
.power-css-pack [data-page-links*='.css-font-25px'] span {
  font-size: 25px !important;
}
.power-css-pack [data-page-links*='.css-font-26px'] span {
  font-size: 26px !important;
}
.power-css-pack [data-page-links*='.css-font-27px'] span {
  font-size: 27px !important;
}
.power-css-pack [data-page-links*='.css-font-28px'] span {
  font-size: 28px !important;
}
.power-css-pack [data-page-links*='.css-font-29px'] span {
  font-size: 29px !important;
}
.power-css-pack [data-page-links*='.css-font-30px'] span {
  font-size: 30px !important;
}
.power-css-pack [data-page-links*='.css-font-31px'] span {
  font-size: 31px !important;
}
.power-css-pack [data-page-links*='.css-font-32px'] span {
  font-size: 32px !important;
}
.power-css-pack [data-page-links*='.css-font-33px'] span {
  font-size: 33px !important;
}
.power-css-pack [data-page-links*='.css-font-34px'] span {
  font-size: 34px !important;
}
.power-css-pack [data-page-links*='.css-font-35px'] span {
  font-size: 35px !important;
}
.power-css-pack [data-page-links*='.css-font-36px'] span {
  font-size: 36px !important;
}
.power-css-pack [data-page-links*='.css-font-37px'] span {
  font-size: 37px !important;
}
.power-css-pack [data-page-links*='.css-font-38px'] span {
  font-size: 38px !important;
}
.power-css-pack [data-page-links*='.css-font-39px'] span {
  font-size: 39px !important;
}
.power-css-pack [data-page-links*='.css-font-40px'] span {
  font-size: 40px !important;
}
.power-css-pack [data-page-links*='.css-font-41px'] span {
  font-size: 41px !important;
}
.power-css-pack [data-page-links*='.css-font-42px'] span {
  font-size: 42px !important;
}
.power-css-pack [data-page-links*='.css-font-43px'] span {
  font-size: 43px !important;
}
.power-css-pack [data-page-links*='.css-font-44px'] span {
  font-size: 44px !important;
}
.power-css-pack [data-page-links*='.css-font-45px'] span {
  font-size: 45px !important;
}
.power-css-pack [data-page-links*='.css-font-46px'] span {
  font-size: 46px !important;
}
.power-css-pack [data-page-links*='.css-font-47px'] span {
  font-size: 47px !important;
}
.power-css-pack [data-page-links*='.css-font-48px'] span {
  font-size: 48px !important;
}
.power-css-pack [data-page-links*='.css-font-49px'] span {
  font-size: 49px !important;
}
.power-css-pack [data-page-links*='.css-font-50px'] span {
  font-size: 50px !important;
}
.power-css-pack [data-page-links*='.css-font-51px'] span {
  font-size: 51px !important;
}
.power-css-pack [data-page-links*='.css-font-52px'] span {
  font-size: 52px !important;
}
.power-css-pack [data-page-links*='.css-font-53px'] span {
  font-size: 53px !important;
}
.power-css-pack [data-page-links*='.css-font-54px'] span {
  font-size: 54px !important;
}
.power-css-pack [data-page-links*='.css-font-55px'] span {
  font-size: 55px !important;
}
.power-css-pack [data-page-links*='.css-font-56px'] span {
  font-size: 56px !important;
}
.power-css-pack [data-page-links*='.css-font-57px'] span {
  font-size: 57px !important;
}
.power-css-pack [data-page-links*='.css-font-58px'] span {
  font-size: 58px !important;
}
.power-css-pack [data-page-links*='.css-font-59px'] span {
  font-size: 59px !important;
}
.power-css-pack [data-page-links*='.css-font-60px'] span {
  font-size: 60px !important;
}
.power-css-pack [data-page-links*='.css-font-61px'] span {
  font-size: 61px !important;
}
.power-css-pack [data-page-links*='.css-font-62px'] span {
  font-size: 62px !important;
}
.power-css-pack [data-page-links*='.css-font-63px'] span {
  font-size: 63px !important;
}
.power-css-pack [data-page-links*='.css-font-64px'] span {
  font-size: 64px !important;
}
.power-css-pack [data-page-links*='.css-font-65px'] span {
  font-size: 65px !important;
}
.power-css-pack [data-page-links*='.css-font-66px'] span {
  font-size: 66px !important;
}
.power-css-pack [data-page-links*='.css-font-67px'] span {
  font-size: 67px !important;
}
.power-css-pack [data-page-links*='.css-font-68px'] span {
  font-size: 68px !important;
}
.power-css-pack [data-page-links*='.css-font-69px'] span {
  font-size: 69px !important;
}
.power-css-pack [data-page-links*='.css-font-70px'] span {
  font-size: 70px !important;
}
.power-css-pack [data-page-links*='.css-font-71px'] span {
  font-size: 71px !important;
}
.power-css-pack [data-page-links*='.css-font-72px'] span {
  font-size: 72px !important;
}
