.power-css-pack .roam-block-container[data-page-links*='.css-level-color'] .rm-block-children .roam-block span {
  color: #afb82c;
}
.power-css-pack .roam-block-container[data-page-links*='.css-level-color'] .rm-block-children .rm-block-children .roam-block span {
  color: #FF9800;
}
.power-css-pack .roam-block-container[data-page-links*='.css-level-color'] .rm-block-children .rm-block-children .rm-block-children .roam-block span {
  color: #00BCD4;
}
.power-css-pack .roam-block-container[data-page-links*='.css-level-color'] .rm-block-children .rm-block-children .rm-block-children .rm-block-children .roam-block span {
  color: #00D4B4;
}
.power-css-pack .roam-block-container[data-page-links*='.css-level-color'] .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .roam-block span {
  color: #34A2EF;
}
.power-css-pack .roam-block-container[data-page-links*='.css-level-color'] .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .roam-block span {
  color: #FEC950;
}
.power-css-pack .roam-block-container[data-page-links*='.css-level-color'] .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .roam-block span {
  color: #AA58FB;
}
.power-css-pack .roam-block-container[data-page-links*='.css-level-color'] .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .roam-block span {
  color: #3BC1FF;
}
.power-css-pack .roam-block-container[data-page-links*='.css-level-color'] .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children.rm-block-children .roam-block span {
  color: #FF5722;
}
.power-css-pack .roam-block-container[data-page-links*='.css-level-color'] .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children.rm-block-children .roam-block span {
  color: #8BC34A;
}
.power-css-pack .roam-block-container[data-page-links*='.css-level-color'] .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .roam-block span {
  color: #5b65f1;
}
