@import "./common/index.less";

.roam-block-container[data-page-links*='.rm-level-bg'] .roam-block span {
  background: @content-level-0-color;
  color: black;
  padding: 4px;
  border-radius: 4px;
}

.roam-block-container[data-page-links*='.rm-level-bg'] .rm-block-children .roam-block span {
  background: @content-level-1-color;
  color: black;
  padding: 4px;
  border-radius: 4px;
}

.roam-block-container[data-page-links*='.rm-level-bg'] .rm-block-children .rm-block-children .roam-block span {
  background: @content-level-2-color;
  color: black;
  padding: 4px;
  border-radius: 4px;
}

.roam-block-container[data-page-links*='.rm-level-bg'] .rm-block-children .rm-block-children .rm-block-children .roam-block span {
  background: @content-level-3-color;
  color: black;
  padding: 4px;
  border-radius: 4px;
}

.roam-block-container[data-page-links*='.rm-level-bg'] .rm-block-children .rm-block-children .rm-block-children .rm-block-children .roam-block span {
  background: @content-level-4-color;
  color: black;
  padding: 4px;
  border-radius: 4px;
}

.roam-block-container[data-page-links*='.rm-level-bg'] .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .roam-block span {
  background: @content-level-5-color;
  color: black;
  padding: 4px;
  border-radius: 4px;
}

.roam-block-container[data-page-links*='.rm-level-bg'] .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .roam-block span {
  background: @content-level-6-color;
  color: black;
  padding: 4px;
  border-radius: 4px;
}

.roam-block-container[data-page-links*='.rm-level-bg'] .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .roam-block span {
  background: @content-level-7-color;
  color: black;
  padding: 4px;
  border-radius: 4px;
}

.roam-block-container[data-page-links*='.rm-level-bg'] .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children.rm-block-children .roam-block span {
  background: @content-level-8-color;
  color: black;
  padding: 4px;
  border-radius: 4px;
}

.roam-block-container[data-page-links*='.rm-level-bg'] .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children.rm-block-children .roam-block span {
  background: @content-level-9-color;
  color: black;
  padding: 4px;
  border-radius: 4px;
}