[data-page-links*=".rm-font-family-serif"] span {
  font-family: serif;
}
[data-page-links*=".rm-font-family-sans-serif"] span {
  font-family: sans-serif;
}
[data-page-links*=".rm-font-family-monospace"] span {
  font-family: monospace;
}
[data-page-links*=".rm-font-family-cursive"] span {
  font-family: cursive;
}
[data-page-links*=".rm-font-family-fantasy"] span {
  font-family: fantasy;
}
[data-page-links*=".rm-font-family-system-ui"] span {
  font-family: system-ui;
}
[data-page-links*=".rm-font-family-ui-serif"] span {
  font-family: ui-serif;
}
[data-page-links*=".rm-font-family-ui-sans-serif"] span {
  font-family: ui-sans-serif;
}
[data-page-links*=".rm-font-family-ui-monospace"] span {
  font-family: ui-monospace;
}
[data-page-links*=".rm-font-family-ui-rounded"] span {
  font-family: ui-rounded;
}
[data-page-links*=".rm-font-family-emoji"] span {
  font-family: emoji;
}
[data-page-links*=".rm-font-family-math"] span {
  font-family: math;
}
[data-page-links*=".rm-font-family-fangsong"] span {
  font-family: fangsong;
}
