[data-tag^=".rm-font-"] {
  display: none !important;
}
[data-tag^=".rm-font-"] + .rm-highlight,
[data-tag^=".rm-font-"] + span > .rm-page-ref--link {
  color: white !important;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
}
/* ---------------------------------*/
[data-page-links*=".rm-font-navy"] span {
  color: navy !important;
}
/* ---------------------------------*/
[data-page-links*=".rm-font-blue"] span {
  color: blue !important;
}
/* ---------------------------------*/
[data-page-links*=".rm-font-aqua"] span {
  color: aqua !important;
}
/* ---------------------------------*/
[data-page-links*=".rm-font-teal"] span {
  color: teal !important;
}
/* ---------------------------------*/
[data-page-links*=".rm-font-olive"] span {
  color: olive !important;
}
/* ---------------------------------*/
[data-page-links*=".rm-font-green"] span {
  color: green !important;
}
/* ---------------------------------*/
[data-page-links*=".rm-font-lime"] span {
  color: lime !important;
}
/* ---------------------------------*/
[data-page-links*=".rm-font-yellow"] span {
  color: yellow !important;
}
/* ---------------------------------*/
[data-page-links*=".rm-font-orange"] span {
  color: orange !important;
}
/* ---------------------------------*/
[data-page-links*=".rm-font-red"] span {
  color: red !important;
}
/* ---------------------------------*/
[data-page-links*=".rm-font-fuchsia"] span {
  color: fuchsia !important;
}
/* ---------------------------------*/
[data-page-links*=".rm-font-purple"] span {
  color: purple !important;
}
/* ---------------------------------*/
[data-page-links*=".rm-font-maroon"] span {
  color: maroon !important;
}
/* ---------------------------------*/
[data-page-links*=".rm-font-silver"] span {
  color: silver !important;
}
/* ---------------------------------*/
[data-page-links*=".rm-font-gray"] span {
  color: gray !important;
}
/* ---------------------------------*/
[data-page-links*=".rm-font-black"] span {
  color: black !important;
}
