[data-tag^=".rm-font-"] {
  display: none !important;
}
[data-tag^=".rm-font-"] + .rm-highlight,
[data-tag^=".rm-font-"] + span > .rm-page-ref--link {
  color: white !important;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
}
/* ---------------------------------*/
[data-tag^=".rm-font-navy"] + span > .rm-page-ref--link {
  background-color: navy !important;
}
[data-tag^=".rm-font-navy"] + .rm-italics,
[data-tag^=".rm-font-navy"] + .rm-bold {
  color: navy !important;
}
/* ---------------------------------*/
[data-tag^=".rm-font-blue"] + span > .rm-page-ref--link {
  background-color: blue !important;
}
[data-tag^=".rm-font-blue"] + .rm-italics,
[data-tag^=".rm-font-blue"] + .rm-bold {
  color: blue !important;
}
/* ---------------------------------*/
[data-tag^=".rm-font-aqua"] + span > .rm-page-ref--link {
  background-color: aqua !important;
}
[data-tag^=".rm-font-aqua"] + .rm-italics,
[data-tag^=".rm-font-aqua"] + .rm-bold {
  color: aqua !important;
}
/* ---------------------------------*/
[data-tag^=".rm-font-teal"] + span > .rm-page-ref--link {
  background-color: teal !important;
}
[data-tag^=".rm-font-teal"] + .rm-italics,
[data-tag^=".rm-font-teal"] + .rm-bold {
  color: teal !important;
}
/* ---------------------------------*/
[data-tag^=".rm-font-olive"] + span > .rm-page-ref--link {
  background-color: olive !important;
}
[data-tag^=".rm-font-olive"] + .rm-italics,
[data-tag^=".rm-font-olive"] + .rm-bold {
  color: olive !important;
}
/* ---------------------------------*/
[data-tag^=".rm-font-green"] + span > .rm-page-ref--link {
  background-color: green !important;
}
[data-tag^=".rm-font-green"] + .rm-italics,
[data-tag^=".rm-font-green"] + .rm-bold {
  color: green !important;
}
/* ---------------------------------*/
[data-tag^=".rm-font-lime"] + span > .rm-page-ref--link {
  background-color: lime !important;
}
[data-tag^=".rm-font-lime"] + .rm-italics,
[data-tag^=".rm-font-lime"] + .rm-bold {
  color: lime !important;
}
/* ---------------------------------*/
[data-tag^=".rm-font-yellow"] + span > .rm-page-ref--link {
  background-color: yellow !important;
}
[data-tag^=".rm-font-yellow"] + .rm-italics,
[data-tag^=".rm-font-yellow"] + .rm-bold {
  color: yellow !important;
}
/* ---------------------------------*/
[data-tag^=".rm-font-orange"] + span > .rm-page-ref--link {
  background-color: orange !important;
}
[data-tag^=".rm-font-orange"] + .rm-italics,
[data-tag^=".rm-font-orange"] + .rm-bold {
  color: orange !important;
}
/* ---------------------------------*/
[data-tag^=".rm-font-red"] + span > .rm-page-ref--link {
  background-color: red !important;
}
[data-tag^=".rm-font-red"] + .rm-italics,
[data-tag^=".rm-font-red"] + .rm-bold {
  color: red !important;
}
/* ---------------------------------*/
[data-tag^=".rm-font-fuchsia"] + span > .rm-page-ref--link {
  background-color: fuchsia !important;
}
[data-tag^=".rm-font-fuchsia"] + .rm-italics,
[data-tag^=".rm-font-fuchsia"] + .rm-bold {
  color: fuchsia !important;
}
/* ---------------------------------*/
[data-tag^=".rm-font-purple"] + span > .rm-page-ref--link {
  background-color: purple !important;
}
[data-tag^=".rm-font-purple"] + .rm-italics,
[data-tag^=".rm-font-purple"] + .rm-bold {
  color: purple !important;
}
/* ---------------------------------*/
[data-tag^=".rm-font-maroon"] + span > .rm-page-ref--link {
  background-color: maroon !important;
}
[data-tag^=".rm-font-maroon"] + .rm-italics,
[data-tag^=".rm-font-maroon"] + .rm-bold {
  color: maroon !important;
}
/* ---------------------------------*/
[data-tag^=".rm-font-silver"] + span > .rm-page-ref--link {
  background-color: silver !important;
}
[data-tag^=".rm-font-silver"] + .rm-italics,
[data-tag^=".rm-font-silver"] + .rm-bold {
  color: silver !important;
}
/* ---------------------------------*/
[data-tag^=".rm-font-gray"] + span > .rm-page-ref--link {
  background-color: gray !important;
}
[data-tag^=".rm-font-gray"] + .rm-italics,
[data-tag^=".rm-font-gray"] + .rm-bold {
  color: gray !important;
}
/* ---------------------------------*/
[data-tag^=".rm-font-black"] + span > .rm-page-ref--link {
  background-color: black !important;
}
[data-tag^=".rm-font-black"] + .rm-italics,
[data-tag^=".rm-font-black"] + .rm-bold {
  color: black !important;
}
