[data-page-links*=".rm-font-12px"] span {
  font-size: 12px !important;
}
[data-page-links*=".rm-font-13px"] span {
  font-size: 13px !important;
}
[data-page-links*=".rm-font-14px"] span {
  font-size: 14px !important;
}
[data-page-links*=".rm-font-15px"] span {
  font-size: 15px !important;
}
[data-page-links*=".rm-font-16px"] span {
  font-size: 16px !important;
}
[data-page-links*=".rm-font-17px"] span {
  font-size: 17px !important;
}
[data-page-links*=".rm-font-18px"] span {
  font-size: 18px !important;
}
[data-page-links*=".rm-font-19px"] span {
  font-size: 19px !important;
}
[data-page-links*=".rm-font-20px"] span {
  font-size: 20px !important;
}
[data-page-links*=".rm-font-21px"] span {
  font-size: 21px !important;
}
[data-page-links*=".rm-font-22px"] span {
  font-size: 22px !important;
}
[data-page-links*=".rm-font-23px"] span {
  font-size: 23px !important;
}
[data-page-links*=".rm-font-24px"] span {
  font-size: 24px !important;
}
[data-page-links*=".rm-font-25px"] span {
  font-size: 25px !important;
}
[data-page-links*=".rm-font-26px"] span {
  font-size: 26px !important;
}
[data-page-links*=".rm-font-27px"] span {
  font-size: 27px !important;
}
[data-page-links*=".rm-font-28px"] span {
  font-size: 28px !important;
}
[data-page-links*=".rm-font-29px"] span {
  font-size: 29px !important;
}
[data-page-links*=".rm-font-30px"] span {
  font-size: 30px !important;
}
[data-page-links*=".rm-font-31px"] span {
  font-size: 31px !important;
}
[data-page-links*=".rm-font-32px"] span {
  font-size: 32px !important;
}
[data-page-links*=".rm-font-33px"] span {
  font-size: 33px !important;
}
[data-page-links*=".rm-font-34px"] span {
  font-size: 34px !important;
}
[data-page-links*=".rm-font-35px"] span {
  font-size: 35px !important;
}
[data-page-links*=".rm-font-36px"] span {
  font-size: 36px !important;
}
[data-page-links*=".rm-font-37px"] span {
  font-size: 37px !important;
}
[data-page-links*=".rm-font-38px"] span {
  font-size: 38px !important;
}
[data-page-links*=".rm-font-39px"] span {
  font-size: 39px !important;
}
[data-page-links*=".rm-font-40px"] span {
  font-size: 40px !important;
}
[data-page-links*=".rm-font-41px"] span {
  font-size: 41px !important;
}
[data-page-links*=".rm-font-42px"] span {
  font-size: 42px !important;
}
[data-page-links*=".rm-font-43px"] span {
  font-size: 43px !important;
}
[data-page-links*=".rm-font-44px"] span {
  font-size: 44px !important;
}
[data-page-links*=".rm-font-45px"] span {
  font-size: 45px !important;
}
[data-page-links*=".rm-font-46px"] span {
  font-size: 46px !important;
}
[data-page-links*=".rm-font-47px"] span {
  font-size: 47px !important;
}
[data-page-links*=".rm-font-48px"] span {
  font-size: 48px !important;
}
[data-page-links*=".rm-font-49px"] span {
  font-size: 49px !important;
}
[data-page-links*=".rm-font-50px"] span {
  font-size: 50px !important;
}
[data-page-links*=".rm-font-51px"] span {
  font-size: 51px !important;
}
[data-page-links*=".rm-font-52px"] span {
  font-size: 52px !important;
}
[data-page-links*=".rm-font-53px"] span {
  font-size: 53px !important;
}
[data-page-links*=".rm-font-54px"] span {
  font-size: 54px !important;
}
[data-page-links*=".rm-font-55px"] span {
  font-size: 55px !important;
}
[data-page-links*=".rm-font-56px"] span {
  font-size: 56px !important;
}
[data-page-links*=".rm-font-57px"] span {
  font-size: 57px !important;
}
[data-page-links*=".rm-font-58px"] span {
  font-size: 58px !important;
}
[data-page-links*=".rm-font-59px"] span {
  font-size: 59px !important;
}
[data-page-links*=".rm-font-60px"] span {
  font-size: 60px !important;
}
[data-page-links*=".rm-font-61px"] span {
  font-size: 61px !important;
}
[data-page-links*=".rm-font-62px"] span {
  font-size: 62px !important;
}
[data-page-links*=".rm-font-63px"] span {
  font-size: 63px !important;
}
[data-page-links*=".rm-font-64px"] span {
  font-size: 64px !important;
}
[data-page-links*=".rm-font-65px"] span {
  font-size: 65px !important;
}
[data-page-links*=".rm-font-66px"] span {
  font-size: 66px !important;
}
[data-page-links*=".rm-font-67px"] span {
  font-size: 67px !important;
}
[data-page-links*=".rm-font-68px"] span {
  font-size: 68px !important;
}
[data-page-links*=".rm-font-69px"] span {
  font-size: 69px !important;
}
[data-page-links*=".rm-font-70px"] span {
  font-size: 70px !important;
}
[data-page-links*=".rm-font-71px"] span {
  font-size: 71px !important;
}
[data-page-links*=".rm-font-72px"] span {
  font-size: 72px !important;
}
