span[data-tag*=".rm-grid"] {
  display: none !important;
}
.roam-block-container[data-page-links*=".rm-grid"] .rm-multibar {
  display: none;
}
.roam-block-container[data-page-links*=".rm-grid-auto"] .rm-block-children {
  display: grid;
  margin-left: 20px;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
}
.roam-block-container[data-page-links*=".rm-grid1"] > .rm-block-children {
  display: grid;
  margin-left: 20px;
  grid-template-columns: repeat(1, 50%);
}
.roam-block-container[data-page-links*=".rm-grid2"] > .rm-block-children {
  display: grid;
  margin-left: 20px;
  grid-template-columns: repeat(2, 50%);
}
.roam-block-container[data-page-links*=".rm-grid3"] > .rm-block-children {
  display: grid;
  margin-left: 20px;
  grid-template-columns: repeat(3, 50%);
}
.roam-block-container[data-page-links*=".rm-grid4"] > .rm-block-children {
  display: grid;
  margin-left: 20px;
  grid-template-columns: repeat(4, 50%);
}
.roam-block-container[data-page-links*=".rm-grid5"] > .rm-block-children {
  display: grid;
  margin-left: 20px;
  grid-template-columns: repeat(5, 50%);
}
.roam-block-container[data-page-links*=".rm-grid6"] > .rm-block-children {
  display: grid;
  margin-left: 20px;
  grid-template-columns: repeat(6, 50%);
}
.roam-block-container[data-page-links*=".rm-grid-auto-100px"] .rm-block-children {
  display: grid;
  margin-left: 20px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}
.roam-block-container[data-page-links*=".rm-grid-auto-150px"] .rm-block-children {
  display: grid;
  margin-left: 20px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}
.roam-block-container[data-page-links*=".rm-grid-auto-200px"] .rm-block-children {
  display: grid;
  margin-left: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.roam-block-container[data-page-links*=".rm-grid-auto-250px"] .rm-block-children {
  display: grid;
  margin-left: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.roam-block-container[data-page-links*=".rm-grid-auto-300px"] .rm-block-children {
  display: grid;
  margin-left: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.roam-block-container[data-page-links*=".rm-grid-auto-350px"] .rm-block-children {
  display: grid;
  margin-left: 20px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
.roam-block-container[data-page-links*=".rm-grid-auto-400px"] .rm-block-children {
  display: grid;
  margin-left: 20px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
.roam-block-container[data-page-links*=".rm-grid-auto-450pxl"] .rm-block-children {
  display: grid;
  margin-left: 20px;
  grid-template-columns: repeat(auto-fill, minmax(450pxl, 1fr));
}
.roam-block-container[data-page-links*=".rm-grid-auto-500px"] .rm-block-children {
  display: grid;
  margin-left: 20px;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
.roam-block-container[data-page-links*=".rm-grid-auto-550px"] .rm-block-children {
  display: grid;
  margin-left: 20px;
  grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
}
.roam-block-container[data-page-links*=".rm-grid-auto-600px"] .rm-block-children {
  display: grid;
  margin-left: 20px;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
}
.roam-block-container[data-page-links*=".rm-grid-auto-650px"] .rm-block-children {
  display: grid;
  margin-left: 20px;
  grid-template-columns: repeat(auto-fill, minmax(650px, 1fr));
}
.roam-block-container[data-page-links*=".rm-grid-auto-700px"] .rm-block-children {
  display: grid;
  margin-left: 20px;
  grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
}
.roam-block-container[data-page-links*=".rm-grid-auto-750px"] .rm-block-children {
  display: grid;
  margin-left: 20px;
  grid-template-columns: repeat(auto-fill, minmax(750px, 1fr));
}
.roam-block-container[data-page-links*=".rm-grid-auto-800px"] .rm-block-children {
  display: grid;
  margin-left: 20px;
  grid-template-columns: repeat(auto-fill, minmax(800px, 1fr));
}
