@color-classname-list: navy,
  blue,
  aqua,
  teal,
  olive,
  green,
  lime,
  yellow,
  orange,
  red,
  fuchsia,
  purple,
  maroon,
  silver,
  gray,
  black;

@color-list: navy,
  blue,
  aqua,
  teal,
  olive,
  green,
  lime,
  yellow,
  orange,
  red,
  fuchsia,
  purple,
  maroon,
  silver,
  gray,
  black;

@content-level-0-color: #afb82c;
@content-level-1-color: #FF9800;
@content-level-2-color: #00BCD4;
@content-level-3-color: #00D4B4;
@content-level-4-color: #34A2EF;
@content-level-5-color: #FEC950;
@content-level-6-color: #AA58FB;
@content-level-7-color: #3BC1FF;
@content-level-8-color: #FF5722;
@content-level-9-color: #8BC34A;
@content-level-10-color: #5b65f1;

@font-families: serif, sans-serif, monospace, cursive, fantasy, system-ui, ui-serif, ui-sans-serif, ui-monospace, ui-rounded, emoji, math, fangsong;
@align-direction: start, end, center, left, right, justify;